<br><br><br><br><br> <br><br>
        
        <br><br>
        <section class="intro">
            <div class="gradient-custom-1 h-100">
              <div class="mask d-flex align-items-center h-100">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <div class="table-responsive bg-white">
                        <table class="table mb-0">
                          <thead>
                            <input type="button" (click)="getData()" value="See Booking Details"/>
    <tr>
        <td><b>PNR No</b> </td>
        <td><b>Name</b> </td>
        <td><b>Email Id</b> </td>
        <td><b>Gender</b></td>
        <td><b>Age</b></td>
        <td><b>Meal</b></td>
        <td><b>Source</b></td>
        <td><b>Destination</b></td>
        <td><b>Departure</b></td>
        <td><b>Arrival</b></td>
        <td><b>Seat No</b></td>
        <td><b></b></td>
        
        
    </tr>
    <tr *ngFor="let booking of bookingModels">
        <td> {{booking.id}} </td>
        <td> {{booking.name}} </td>
        <td> {{booking.email}} </td>
        <td> {{booking.gender}} </td>
        <td> {{booking.age}} </td>
        <td> {{booking.meal}} </td>
        <td> {{booking.fromPlace}} </td>
        <td> {{booking.toPlace}} </td>
        <td> {{booking.startDateTime}} </td>
        <td> {{booking.endDateTime}} </td>
        <td> {{booking.seatNo}} </td>
        
        <td><input type="button" value="Cancel Booking" (click)="Deletebooking(booking)" /></td>
    </tr>
                          </thead>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

           <br><br><br><br><br><br>