<!-- <div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card rounded-0">
                <div class="Card-header">
                    <h3 class="mb-0">Register</h3>
                </div>
                <div class="card-body">
                    <div class="form">
                        <div class="col-md-12">
                            <label class="form-label" for="floatingInput">UserName</label>
                            <input type="email" class="form-control" id="floatingInput" [(ngModel)]="registerUserData.userName" placeholder="Please enter your email">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="floatingPassword">Password</label>
                            <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="registerUserData.password" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <div class="form-check"></div>
                            </div>
                        <button class="btn btn-lg btn-primary" (click)="registerUser()" type="submit">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<br><br><br>
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
    
    
         
             

            


<div class="register-wrapper">
  <form action="" class="form">
    <h2>Register</h2>
    <div class="input-group">
      <input type="email" name="registerEmail" id="registerEmail" [(ngModel)]="registerUserData.userName" required />
      <label for="registerEmail">User Name</label>
    </div>
    <div class="input-group">
      <input
      type="password"
      name="loginPassword"
      id="loginPassword"
      [(ngModel)]="registerUserData.password"
      required
    />
    <label for="loginPassword">Password</label>
    </div>
    <input type="submit" value="Register" class="submit-btn" (click)="registerUser()" />
  </form>
</div>

<div *ngIf="showSpinner" id="cover-spin">
  </div>
<button type="button" id="btnLaunchModel" class="btn btn-primary"  style="visibility: hidden;"data-toggle="modal" data-target="#exampleModalCenter">
  
</button>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{modelHeader}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{modelText}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





</div>
</div>
</div>
</section><br><br><br><br><br><br><br>